@import url("basic.css");

/* -- fonts ----------------------------------------------------------- */

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('/fonts/source-sans-pro-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-italic - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
       url('/fonts/source-sans-pro-v11-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
       url('/fonts/source-sans-pro-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-sans-pro-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* source-code-pro-500 - latin */
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'),
       url('/fonts/source-code-pro-v7-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/source-code-pro-v7-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 18px;
    background-color: #fff;
    color: #617287;
    margin: 0;
    padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.document {
    width: 1120px;
    margin: 30px auto 0 auto;
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 320px;
}

div.sphinxsidebar {
    width: 320px;
    font-size: 14px;
    line-height: 1.5;
    overflow-y: auto;
    top: 0;
    bottom: 0;
    padding-top:50px;
    height: 100vh;
}

hr {
    border: 1px solid #E8E8E8;
}

div.body {
    background-color: #fff;
    color: #617287;
    padding: 0;
    margin-left: 24px;
}

div.body > .section {
    text-align: left;
}

div.body p, div.body dd, div.body li, div.body blockquote {
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none; 
}

div.footer {
    width: 1120px;
    margin: 20px auto 30px auto;
    font-size: 14px;
    color: #888;
    text-align: right;
}

div.footer a {
    color: #888;
}

p.caption {
    font-family: inherit;
    font-size: inherit;
}


div.relations {
    display: none;
}


div.sphinxsidebar a {
    color: #617287;
    text-decoration: none;
}

div.sphinxsidebar a:hover {
    border-bottom: 1px solid #617287;
}

div.sphinxsidebarwrapper {
    padding: 30px 10px;
}

div.sphinxsidebarwrapper p.logo {
    padding: 0;
    margin: -10px 0 0 0px;
    text-align: center;
}

div.sphinxsidebarwrapper h1.logo {
    margin-top: -10px;
    text-align: center;
    margin-bottom: 5px;
    text-align: left;
}

div.sphinxsidebarwrapper h1.logo-name {
    margin-top: 0px;
}

div.sphinxsidebarwrapper p.blurb {
    margin-top: 0;
    font-style: normal;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    color: #444;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0;
}

div.sphinxsidebar h4 {
    font-size: 20px;
}

div.sphinxsidebar h3 a {
    color: #617287;
}

div.sphinxsidebar p.logo a,
div.sphinxsidebar h3 a,
div.sphinxsidebar p.logo a:hover,
div.sphinxsidebar h3 a:hover {
    border: none;
}

div.sphinxsidebar p {
    color: #555;
    margin: 0;
}

div.sphinxsidebar ul {
    padding: 0;
    color: #617287;
    line-height:2;
    margin: 0 0 24px 0;
}

div.sphinxsidebar ul li.toctree-l1 > a {
    font-size: 120%;
}

div.sphinxsidebar ul li.toctree-l2 > a {
    font-size: 110%;
}

div.sphinxsidebar input {
    border: 1px solid #CCC;
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: 1em;
}

div.sphinxsidebar hr {
    border: none;
    height: 1px;
    color: #AAA;
    background: #AAA;

    text-align: left;
    margin-left: 0;
    width: 50%;
}

.sphinxsidebar .caption{
    font-size:120%;
    font-weight:bold;
}

/* -- body styles ----------------------------------------------------------- */

a {
    color: #03C3FF;
    text-decoration: underline;
}

a:hover {
    color: #03C3FF;
    text-decoration: underline;
}

.button {
  background: #03C3FF;
  color:#fff;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding:12px;
  font-size:18px;
  border:0;
  cursor:pointer;
  font-weight:600;
}

input[type=button] {
  cursor:pointer;
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.03);
  margin-bottom: 40px;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 600;
    margin: 30px 0px 10px 0px;
    padding: 0;
    color: #242424;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 200%; }
div.body h2 { font-size: 130%; }
div.body h3 { font-size: 110%; }
div.body h4 { font-size: 90%; }
div.body h5 { font-size: 70%; }
div.body h6 { font-size: 50%; }

a.headerlink {
    color: #DDD;
    padding: 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #444;
    background: #EAEAEA;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}

div.admonition {
    margin: 20px 0px;
    padding: 24px;
    background-color: #e7f2fa;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-size:16px;
    line-height:27px;
}

div.admonition tt.xref, div.admonition code.xref, div.admonition a tt {
    background-color: #fafafa;
    border-bottom: 1px solid #fafafa;
}

div.admonition p.admonition-title {
    font-family: 'Source Sans Pro', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 8px 0;
    padding: 0;
    line-height: 1;
}

div.admonition p.last {
    margin-bottom: 0;
}

div.admonition a.reference {
   font-weight:600;
   text-decoration:underline;
}

div.admonition.reference a:hover {
   text-decoration:none;
}

div.highlight {
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.highlight-bash {
    overflow: auto;
    overflow-y: hidden;
}

dt:target, .highlight {
    background: #FAF3E8;
}

div.warning {
    background-color: #FFEFEF;
    border: 1px solid #EFADAD;
    color: #B24343;
}

div.admonition.note a.reference {
    color: #B24343;
}

div.admonition.note pre {
    background: #27718F;
    color:#fff;
}

div.danger {
    background-color: #FFD7D7;
    border: 1px solid #FAA;
    -moz-box-shadow: 2px 2px 4px #D52C2C;
    -webkit-box-shadow: 2px 2px 4px #D52C2C;
    box-shadow: 2px 2px 4px #D52C2C;
}

div.error {
    background-color: #FFD7D7;
    border: 1px solid #FAA;
    -moz-box-shadow: 2px 2px 4px #D52C2C;
    -webkit-box-shadow: 2px 2px 4px #D52C2C;
    box-shadow: 2px 2px 4px #D52C2C;
}

div.caution {
    background-color: #FFD7D7;
    border: 1px solid #FAA;
}

div.attention {
    background-color: #FFD7D7;
    border: 1px solid #FAA;
}

div.important {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.note {
    background-color: #F0F9FD;
    border: 1px solid #59D0FF;
    color: #158AB8;
}

div.admonition.note a.reference {
   color: #158AB8;
}

div.note p.admonition-title:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f0eb";
    margin-right:8px;
}

div.tip {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.hint {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.seealso {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.topic {
    background-color: #fff;
    border:0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 90%;
    margin:24px 0;
    padding: 12px 0;
}

.contents.topic ul.simple li, .contents.topic .simple ul > li > ul {
    list-style:none;
}

.contents.topic .simple ul li:before {
    color: #aebacb;
    content: '#';
    left: -16px;
    margin-right:12px;
}

.contents.topic .simple a.reference {
    text-decoration: none;
    color: #617287;
}

.topic-title.first {
    display:none;
}

p.admonition-title {
    display: inline;
}

pre, tt, code {
    font-family: 'Source Code Pro', 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 13px;
    line-height: 19px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.docutils.literal {
    color:#53415D;
    font-size: 75%;
    padding: 6px 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-weight:500;
}

.hll {
    background-color: #FFC;
    margin: 0 -12px;
    padding: 0 12px;
    display: block;
}

img.screenshot {
}

tt.descname, tt.descclassname, code.descname, code.descclassname {
    font-size: 0.95em;
}

tt.descname, code.descname {
    padding-right: 0.08em;
}

img.screenshot {
    -moz-box-shadow: 2px 2px 4px 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 2px 2px 4px 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 2px 2px 4px 0 2px 2px 0 rgba(0, 0, 0, 0.03);
}

table.docutils {
    border: 1px solid #E8E8E8;
    -moz-box-shadow: 2px 2px 4px 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    -webkit-box-shadow: 2px 2px 4px 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    box-shadow: 2px 2px 4px 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    width:auto;
}

table.docutils td, table.docutils th {
    border: 1px solid #E8E8E8;
    padding: 0.5em 0.7em;
}

table.field-list, table.footnote {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.footnote {
    margin: 15px 0;
    width: 100%;
    border: 1px solid #EEE;
    background: #FDFDFD;
    font-size: 0.9em;
}

table.footnote + table.footnote {
    margin-top: -15px;
    border-top: none;
}

table.field-list th {
    padding: 0 0.8em 0 0;
}

table.field-list td {
    padding: 0;
}

table.field-list p {
    margin-bottom: 0.8em;
}

/* Cloned from
 * https://github.com/sphinx-doc/sphinx/commit/ef60dbfce09286b20b7385333d63a60321784e68
 */
.field-name {
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

table.footnote td.label {
    width: .1px;
    padding: 0.3em 0 0.3em 0.5em;
}

table.footnote td {
    padding: 0.3em 0.5em;
}

dl {
    margin: 0;
    padding: 0;
}

dl dd {
    margin-left: 0;
    margin-top:16px;
}

dl:not(.docutils) dt {
    display: inline-block;
    margin: 6px 0;
    font-size: 90%;
    line-height: normal;
    background: #e7f2fa;
    color: #2980B9;
    border-top: solid 3px #6ab0de;
    padding: 6px;
    position: relative;
    width: 100%;
}

blockquote {
    margin: 0 0 0 30px;
    padding: 0;
}

ul, ol {
    /* Matches the 30px from the narrow-screen "li > ul" selector below */
    margin: 10px 0 10px 36px;
    padding: 0;
}

pre {
    background: #F7F8F9;
    padding: 24px;
    margin: 15px 0px;
}

div.viewcode-block:target {
    background: #ffd;
}

dl pre, blockquote pre, li pre {
    margin-left: 0;
    padding-left: 30px;
}

tt, code {
    background-color: #F7F8F9;
    color: #222;
    /* padding: 1px 2px; */
    line-height:2;
}

tt.xref, code.xref, a tt {
    background-color: #FBFBFB;
    border-bottom: 1px solid #fff;
}

a.reference {
    text-decoration: none;
    color: #03C3FF;
}

/* Don't put an underline on images */
a.image-reference, a.image-reference:hover {
    border-bottom: none;
}

a.reference:hover {
    border-bottom: 1px solid #617287;
}

a.toc-backref {
    text-decoration: none;
    color: #242424;
}

a.footnote-reference {
    text-decoration: none;
    font-size: 0.7em;
    vertical-align: top;
    border-bottom: 1px solid #03C3FF;
}

a.footnote-reference:hover {
    border-bottom: 1px solid #03C3FF;
}

a:hover tt, a:hover code {
    background: #EEE;
}


@media screen and (max-width: 870px) {

    div.sphinxsidebar {
    	display: none;
    }

    div.document {
       width: 100%;

    }

    div.documentwrapper {
    	margin-left: 0;
    	margin-top: 0;
    	margin-right: 0;
    	margin-bottom: 0;
    }

    div.bodywrapper {
    	margin-top: 0;
    	margin-right: 0;
    	margin-bottom: 0;
    	margin-left: 0;
    }

    ul {
    	margin-left: 0;
    }

	li > ul {
        /* Matches the 30px from the "ul, ol" selector above */
		margin-left: 30px;
	}

    .document {
    	width: auto;
    }

    .footer {
    	width: auto;
    }

    .bodywrapper {
    	margin: 0;
    }

    .footer {
    	width: auto;
    }

    .github {
        display: none;
    }



}



@media screen and (max-width: 875px) {

    body {
        margin: 0;
        padding: 20px 30px;
    }

    div.documentwrapper {
        float: none;
        background: #fff;
    }

    div.sphinxsidebar {
        display: block;
        float: none;
        width: 102.5%;
        margin: -20px -30px 20px -30px;
        padding: 10px 20px;
        background: #333;
        color: #fff;
    }

    div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar p,
    div.sphinxsidebar h3 a {
        color: #fff;
    }

    div.sphinxsidebar a {
        color: #AAA;
    }

    div.sphinxsidebar p.logo {
        display: none;
    }

    div.document {
        width: 100%;
        margin: 0;
    }

    div.footer {
        display: none;
    }

    div.bodywrapper {
        margin: 0;
    }

    div.body {
        min-height: 0;
        padding: 0;
    }

    .rtd_doc_footer {
        display: none;
    }

    .document {
        width: auto;
    }

    .footer {
        width: auto;
    }

    .footer {
        width: auto;
    }

    .github {
        display: none;
    }
}
@media screen and (min-width: 876px) {
    div.sphinxsidebar {
        position: fixed;
        margin-left: 0;
    }
}


/* misc. */

.revsys-inline {
    display: none!important;
}

/* Make nested-list/multi-paragraph items look better in Releases changelog
 * pages. Without this, docutils' magical list fuckery causes inconsistent
 * formatting between different release sub-lists.
 */
div#changelog > div.section > ul > li > p:only-child {
    margin-bottom: 0;
}

/* Hide fugly table cell borders in ..bibliography:: directive output */
table.docutils.citation, table.docutils.citation td, table.docutils.citation th {
  border: none;
  /* Below needed in some edge cases; if not applied, bottom shadows appear */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* relbar */

.related {
    line-height: 30px;
    width: 100%;
    font-size: 0.9rem;
}

.related.top {
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
}

.related.bottom {
    border-top: 1px solid #EEE;
}

.related ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.related li {
    display: inline;
}

nav#rellinks {
    float: right;
}

nav#rellinks li+li:before {
    content: "|";
}

nav#breadcrumbs li+li:before {
    content: "\00BB";
}

/* Hide certain items when printing */
@media print {
    div.related {
        display: none;
    }
}

.nav-top {
    color:#fff;
    padding:12px;
    font-size: 120%;
    height:30px;
    z-index: 100;
    position: relative;
}

.nav-top .brand {
    float:left;
    margin:0;
    padding:0;
    margin-top: -6px;
}

.nav-top .nav {
    float:right;
    font-weight:600;
}

.nav-top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-top ul li {
    display:inline;
}

.nav-top ul li a {
    font-size: 18px;
    padding: 14px 16px;
    text-decoration: none;
    color:#fff;
}

.nav-top ul li.active {
    background:#222AA0;
    color:#fff;
    padding: 14px 16px;
}

.columns {
    display: flex;
    flex-flow: wrap;
}

.column {
    flex: 0 0 50%;
}

.chat-bubble {
    background-color: #F1F0F0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding:16px;
    position: relative;
    max-width:400px;
    margin: 0 auto;
    margin-top: 36px;
}

.chat-bubble.user {
    background-color: #0783FC;
    color:#fff;
    margin-left: 300px;
}

.chat-bubble.bot {
    margin-left: 100px;
}

.rating-container {
  padding: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  border-top:1px solid #E8E8E8;
  margin-top:2rem;
}

.rating-container .submit {
  text-align: center;
}

.rating-container svg {
  fill: #617287;
  height: 3.6rem;
  width: 3.6rem;
  margin: 0.2rem;
}

.rating-container label {
  color: #617287;
  text-align: center;
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

.rating-container #radios label {
  position: relative;
}

.rating-container input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.rating-container input[type="radio"] + svg {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.rating-container input + svg {
  cursor: pointer;
}

.rating-container input[class="great"]:hover + svg,
.rating-container input[class="great"]:checked + svg,
.rating-container input[class="great"]:focus + svg {
  fill: rgb(0, 204, 79);
}

.rating-container input[class="didnt-work"]:hover + svg,
.rating-container input[class="didnt-work"]:checked + svg,
.rating-container input[class="didnt-work"]:focus + svg {
  fill: rgb(255, 0, 0);
}

.rating-container input[class="didnt-finish"]:hover + svg,
.rating-container input[class="didnt-finish"]:checked + svg,
.rating-container input[class="didnt-finish"]:focus + svg {
  fill: rgb(255, 255, 0);
}

/* Juniper */

.cm-s-xq-light {
    background: #F7F8F9;
    font-size: 13px;
    line-height: 19px;
}

.juniper-button{
    background: #03C3FF;
    color:#fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding:6px 12px;
    font-size:18px;
    border:0;
    cursor:pointer;
    font-weight:600;
}

.juniper-output {
    background: #222;
    padding: 2em;
    white-space: pre-wrap;
}

.juniper-output pre {
    background:none;
    color:#fff;
    font-size: 13px;
    line-height: 19px;
}

.juniper-cell {
    border:0;
}